<%- include('../partials/admin-header.ejs') %>
<%- include('../partials/admin-sidebar.ejs') %>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      
        <div class="container-fluid w-60 p-0 p-md-3 ">
          <H1>users</H1>
          <table class="table table-wrapper ">
         <thead class="bg-dark ">
             <tr class="t_head">
            
               <th>Name</th>
                 <th>Email</th>
                 <th>Phone</th>
                 
                 <th class="me-0 pe-0 text-center">Action</th>
             </tr>
           </thead>
           <tbody>
            <% users.forEach(user => {%>
              
           
               
             <tr class="">
              
                 <td><%=user.username%></td>
                 <td><%=user.email%></td>
                  <td><%=user.phone%></td>
              
                  <td class=" text-center d-flex justify-content-center ">
                   <div class="d-flex flex-row ">
                    <%if(user.isBlock==false) {%>
                      
                      <form action="/admin/users/block/<%= user._id %>?_method=PATCH" method="post">
                        <button type="submit" class="btn btn-warning ms-2"><i class="fa-solid fa-user-large-slash"></i>block</button>
                    </form>
                   
                   
                   <%} else {%>
                      
                    <form action="/admin/users/unblock/<%= user._id %>?_method=PATCH" method="post">
                      <button type="submit" class="btn btn-success ms-2">
                        <i class="fa-solid fa-user-check"></i> 
                        Unblock
                      </button>
                  </form>
                  <% } %>
                      </div>  
                 </td> 
              
                </tr>
               
               
               
               <% }) %>
             
           </tbody>
          </table>
         </div>
         <div class="w-100 d-flex justify-content-center mt-3">
          <nav aria-label="Page navigation ">
              <ul class="pagination">
      
                  <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                      <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
      
                  <% for (let i = 1; i <= totalPages; i++) { %>
                      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                      </li>
                  <% } %>
      
                  <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                      <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
       </div>
   
    </div>
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  
  
     <script src="public/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src=" public/js/off-canvas.js"></script>
  <script src=" public/js/hoverable-collapse.js"></script>
  <script src=" public/js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
 
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
 
  <!-- End custom js for this page-->
  <!-- font-awesome -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  <script src="https://kit.fontawesome.com/a5e10914c4.js" crossorigin="anonymous"></script>
  <!-- End font-awesome -->
  </body>
  
  </html>