<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<style>
.main-image-container {
  position: relative;
  overflow: hidden;
  cursor: crosshair;
  width: 100%;
  
  height: auto;
}

.main-image {
  width: 100%;
  height: auto;
  height: auto;
  object-fit: cover;
  max-height: 400px;
  transition: transform 0.2s ease;
}

.main-image-container:hover .main-image {
  transform: scale(1.7);
}
</style>
<div class="container-fluid w-100 bg-primary mt-5 ps-5 d-flex align-items-center" style="height: 10vh">
 
    <li class="breadcrumb-item" style="list-style: none;"><a href="#">Home</a></li>
    <li class="breadcrumb-item" style="list-style: none;"><a href="#">Shop</a></li>
    <li class="breadcrumb-item active" aria-current="page" style="list-style: none; max-width: 500px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
        Product
    </li>
    
</div>
  <div class="row container d-flex justify-content-center justify-content-md-start">
    <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
        <div class="col-2 ms-5 d-flex flex-column ">
          <% for(let i=0;i<product.images.length;i++){ %>
            <img  src="/public/uploads/<%= product.images[i] %>" alt="" class="w-100 border border-1 mt-2" onclick="changeMainImage(this)">
           
            <% } %>
        </div>
        <div class="main-image-container mb-4">
          <img
            src="/public/uploads/<%= product.images[0] %>"
            class="main-image"
            id="main-image1"
            alt=""
          />
        </div>
        
    </div>
    <div class="col-md-6 mt-5 ms-5 ms-md-0  ">
        <h2 class="fw-bold"> <%= product.name %></h2>
           <% if(product.offer &&product.offer.discountPercentage && new Date()<product.offer.expirAt  ){%>
                        <div class="price">
                       <h4 class="mt-4">   <span>₹<%=product.price-(product.price*(product.offer.discountPercentage/100))%></span>
                            <span class="text-muted">₹<%=product.price%></span>
                            <span class="text-success">(<%=product.offer.discountPercentage%>%Off)</span>
                          </h4>  
                        </div>
                        <% } else{ %>
                        <div class="price">
                          <h4 class="mt-4"><span>₹<%=product.price%></span></h4>
                          
                      </div>
                      <% } %>
         <% if(product.stock>0) {%>
            <% if(product.stock>3) {%>
         <h6 class="">Availability: <span class="primary"> <%= product.stock %> left in stock </span></h6>
         <% }else{ %>
            <h4 class=""> <span class="text-danger"> Only <%= product.stock %> stock left !  </span></h4>
            <% } %>
          <% if(!existInCart){ %>
         <div class="d-flex align-items-center">
            <button class="btn btn-outline-secondary" type="button" id="minus" onclick="minus()">-</button>
            <input type="number" name="quantity" class="form-control text-center mx-2"  value=1 style="width: 50px;" id="quantity" readonly>
            <button class="btn btn-outline-secondary" type="button" id="plus" onclick="plus()">+</button>
          </div>
       
     <button  class="btn btn-primary rounded rounded-5 px-3  mt-3 mb-3" onclick="addToCart()"  style="font-size: 12px;">ADD TO CART </button>
          <%} else{ %>
            <a href="/cart">
              <button   class="btn btn-primary rounded rounded-5 px-3  mt-3 mb-3"   style="font-size: 12px;">GO TO CART </button>
            </a>
           
       <% } %>
        <%} else{%>
            <h2 class="text-danger">Out of Stock!</h2>
            <% }  %>

            <h6 class="fw-bold text-muted">Description</h6>
         <p><%= product.description %></p>
    </div>
  </div>
 
    <% if(relatedProducts && relatedProducts.length > 0) { %>
        <div class="d-flex justify-content-center">
            <h2 class="fw-bold mt-5">Related Products</h2>
            </div>
            <div class="row d-flex justify-content-center mb-4">

           
  <% relatedProducts.forEach((element) => { %>
    <div class="col-sm-6 col-md-4 col-lg-3 ms-2 border border-1">
      <div class="card">
        <a href="/product/<%= element._id %>">
          <div class="icons d-flex flex-column">
            <button class="btn mb-2"><i class="bi bi-heart"></i></button>
            <button class="btn"><i class="bi bi-eye"></i></button>
          </div>
          <img src="/public/uploads/<%= element.images[0] %>" class="card-img-top" alt="Product Image">
          <div class="card-body text-center">
            <h5 class="product-title"><%= element.name %></h5>
            <div class="price">
              <span>₹<%= element.price %></span>
             
            </div>
            <div class="rating mt-2">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <span class="reviews">(65)</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  <% }) %>
</div>
<% } else { %>
    <div class="d-flex justify-content-center">
        <h2 class="fw-bold mt-5">No Related products</h2>
        </div>
<% } %>

    
   
</div>

<script>
  const mainImageContainer = document.querySelector(".main-image-container");
  const mainImage = document.getElementById("main-image1");

  mainImageContainer.addEventListener("mousemove", function (e) {
    const containerRect = mainImageContainer.getBoundingClientRect();

    const mouseX = e.clientX - containerRect.left;
    const mouseY = e.clientY - containerRect.top;

    const percentX = (mouseX / containerRect.width) * 100;
    const percentY = (mouseY / containerRect.height) * 100;

    mainImage.style.transformOrigin = `${percentX}% ${percentY}%`;
    mainImage.style.transform = "scale(2.0)"; 
  });

  mainImageContainer.addEventListener("mouseleave", function () {
    mainImage.style.transform = "scale(1)";
  });
    function plus() {
    let quantity = parseInt(document.getElementById('quantity').value);
   
    if(quantity<'<%=product.stock%>'){
      quantity++;
      document.getElementById('quantity').value = quantity;
    }
   
}
function minus() {
    let quantity = parseInt(document.getElementById('quantity').value);
   
    if(quantity>1){
      quantity--;
      document.getElementById('quantity').value = quantity;
    }
   
}
async function addToCart() {
  const productId = '<%= product._id %>'; 
  const quantity = document.getElementById('quantity').value; 

  try {
    const response = await fetch(`/addToCart/${productId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ quantity: quantity }), 
    });

    const data = await response.json();

    if (data.success === false && data.user === false) {
     
      Swal.fire({
        icon: 'warning',
        title: 'You must log in first!',
        text: 'Please log in to add items to your cart.',       
        confirmButtonText: 'Login',
        showCancelButton: true,
        cancelButtonText: 'Cancel',
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = '/login'; 
        }
      });
    } else if (data.success === false) {
     
      Swal.fire({
        icon: 'error',
        title: 'Could not add to cart',
        text: data.message, 
        showConfirmButton: true,
      });
    } else if (data.success === true) {
      
      document.getElementById('cart-count').innerText = data.cartItemCount; 
      Swal.fire({
        icon: 'success',
        title: 'Added to Cart!',
        text: 'The item has been successfully added to your cart.',
        showConfirmButton: false,
        timer: 1500,
      })
      setTimeout(()=>{
        window.location.reload()
      },1000)
    } else {
      
      
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'Something went wrong. Please try again later.',
        showConfirmButton: true,
      });
    }
  } catch (err) {
   
    
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'An error occurred. Please try again later.',
      showConfirmButton: true,
    });
  }
}




function changeMainImage(thumb) {
    const mainImage = document.getElementById('main-image1');
    mainImage.src = thumb.src; 
}
</script>
<%- include('../partials/footer.ejs') %>